// Place all the styles related to the WaldoPic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$size: 100px;
$offset: $size * 0.5;

#container {
  position: relative;
  height: 1760px;
  width: 2800px;
  background-image: url('../background.jpg');
}

.frame {
  transform: translate(-$offset, -$offset);
  height: $size;
  width: $size;
  border: 3px solid black;
  position: absolute;
}

.dropdown {
  transform: translate($offset, -$offset);
  height: $size;
  width: $size;
  border: 3px solid red;
  position: absolute;
}