// Place all the styles related to the WaldoPic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$size: 100px;
$offset: $size * 0.5;

#container {
  position: relative;
}

#background {
  position: absolute;
}

.frame {
  transform: translate(-$offset, -$offset);
  height: $size;
  width: $size;
  border: 3px solid black;
  position: absolute;
  box-sizing:border-box;
}

.close-frame {
  float: right;
  background-color: red;
}

.dropdown {
  transform: translateX($size);
  position: absolute;
  box-sizing:border-box;
}

.name {
  margin: 75px auto;
  width: 100%;
  background-color: white;
  text-align: center;
}